# Logs
logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env
.db

# Build output
build/
dist/

# Editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
